<div id='app'>
  <navbar></navbar>
  <div class='container'>
    <router-view></router-view>
    <footer class="col s12 m10">
      <span class="text-muted">© 2017 <a href="https://twitter.com/zetta1985">Tomochika Hara</a></span>
    </footer>
  </div>
</div>

<%= javascript_pack_tag 'rebuild_search' %>
